In [4]:
import pandas as pd
# List of Tuples
students = [('jack', 34, 'Sydeny'),
('Riti', 30, 'Delhi'),
('Aadi', 16, 'New York'),
('Riti', 30, 'Delhi'),
('Riti', 30, 'Delhi'),
('Riti', 30, 'Mumbai'),
('Aadi', 40, 'London'),
('Sachin', 30, 'Delhi')
]
# Create a DataFrame object
dfObj = pd.DataFrame(students, columns=['Name', 'Age', 'City'])
print("Original Dataframe", dfObj, sep='\n')
print('\n*** Find Duplicate Rows based on all columns ***')

# Select duplicate rows except first occurrence based on all columns
duplicateRowsDF = dfObj[dfObj.duplicated()]
print("\na. Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

# Select duplicate rows except last occurrence based on all columns
duplicateRowsDF = dfObj[dfObj.duplicated(keep='last')]
print("\nb. Duplicate Rows except last occurrence based on all columns are :")
print(duplicateRowsDF)

# Select all duplicate rows based on all columns
duplicateRowsDF = dfObj[dfObj.duplicated(keep=False)]
print("\nc. All Duplicate Rows based on all columns are :")
print(duplicateRowsDF)
# Select all duplicate rows based on one column
duplicateRowsDF = dfObj[dfObj.duplicated(['Name'])]
print("\nd. Duplicate Rows based on a single column are:", duplicateRowsDF, sep='\n')
# Select all duplicate rows based on multiple column names in list
duplicateRowsDF = dfObj[dfObj.duplicated(['Age', 'City'])]
print("\ne. Duplicate Rows based on 2 columns are:", duplicateRowsDF, sep='\n')

Original Dataframe
     Name  Age      City
0    jack   34    Sydeny
1    Riti   30     Delhi
2    Aadi   16  New York
3    Riti   30     Delhi
4    Riti   30     Delhi
5    Riti   30    Mumbai
6    Aadi   40    London
7  Sachin   30     Delhi

*** Find Duplicate Rows based on all columns ***

a. Duplicate Rows except first occurrence based on all columns are :
   Name  Age   City
3  Riti   30  Delhi
4  Riti   30  Delhi

b. Duplicate Rows except last occurrence based on all columns are :
   Name  Age   City
1  Riti   30  Delhi
3  Riti   30  Delhi

c. All Duplicate Rows based on all columns are :
   Name  Age   City
1  Riti   30  Delhi
3  Riti   30  Delhi
4  Riti   30  Delhi

d. Duplicate Rows based on a single column are:
   Name  Age    City
3  Riti   30   Delhi
4  Riti   30   Delhi
5  Riti   30  Mumbai
6  Aadi   40  London

e. Duplicate Rows based on 2 columns are:
     Name  Age   City
3    Riti   30  Delhi
4    Riti   30  Delhi
7  Sachin   30  Delhi

In [2]:
print(dfObj)
print(dfObj[dfObj.duplicated(['Age', 'City'], keep=False)])

     Name  Age      City
0    jack   34    Sydeny
1    Riti   30     Delhi
2    Aadi   16  New York
3    Riti   30     Delhi
4    Riti   30     Delhi
5    Riti   30    Mumbai
6    Aadi   40    London
7  Sachin   30     Delhi
     Name  Age   City
1    Riti   30  Delhi
3    Riti   30  Delhi
4    Riti   30  Delhi
7  Sachin   30  Delhi

In [ ]:
'''
Delete duplicate
'''

In [6]:
print("Original Dataframe", dfObj, sep='\n')

Original Dataframe
     Name  Age      City
0    jack   34    Sydeny
1    Riti   30     Delhi
2    Aadi   16  New York
3    Riti   30     Delhi
4    Riti   30     Delhi
5    Riti   30    Mumbai
6    Aadi   40    London
7  Sachin   30     Delhi

In [13]:
print('1. Delete rows duplicated ')
print(dfObj.drop_duplicates()) # Rows 3,4 are duplicates of row#1 -> will be deleted

1. Delete rows duplicated
     Name  Age      City
0    jack   34    Sydeny
1    Riti   30     Delhi
2    Aadi   16  New York
5    Riti   30    Mumbai
6    Aadi   40    London
7  Sachin   30     Delhi

In [12]:
print('2. Drop duplicates in the [Name] column, but take the last obs in the duplicated set')
print(dfObj.drop_duplicates(['Name'], keep='last')) #Row_5 will be kept as row_1 will be deleted

2. Drop duplicates in the [Name] column, but take the last obs in the duplicated set
     Name  Age    City
0    jack   34  Sydeny
5    Riti   30  Mumbai
6    Aadi   40  London
7  Sachin   30   Delhi

In [ ]:
# We can also use 'keep' argument of pd.drop_duplicates() as in pd.duplicated()