In [4]:
import pandas as pd
path = 'http://bit.ly/movieusers'
cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
df = pd.read_csv(path, header=None, names=cols, index_col='user_id', sep='|')
print(df.head())

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [7]:
print(df.shape)

(943, 4)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None

In [17]:
# Find duplicated rows
import numpy as np
print(df.duplicated(keep=False).sum())

14

In [18]:
print(df[df.duplicated(keep=False)])

         age gender occupation zip_code
user_id
67        17      M    student    60402
85        51      M   educator    20003
198       21      F    student    55414
350       32      M    student    97301
428       28      M    student    55414
437       27      F      other    20009
460       44      F      other    60630
496       21      F    student    55414
572       51      M   educator    20003
621       17      M    student    60402
684       28      M    student    55414
733       44      F      other    60630
805       27      F      other    20009
890       32      M    student    97301

In [19]:
# Delete duplicated rows
df.drop_duplicates(keep=False, inplace=True)

In [20]:
# Shape of the data set after duplicates removal
print(df.shape)

(929, 4)